// כאן נכלל כל העיצוב הגלובלי של האתר

$h1Color: #7a7a7a;
$h2Color: #a09995;
$fillColor1: #e1dcd9;
$fillColor2: #918a87;
$fillColor3: #f1e6c2;
$fillColor4: #eeeae8;
$transition: all 0.3s ease-in-out;
$font: tahoma;